.datagrid .panel-body {
    background-color:#fff;
    overflow: visible;
    position: relative;
    -moz-border-radius:0 0 4px 4px;
    -webkit-border-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}

/*缂栬緫椤甸潰鍒楄〃form_list*/
.form_list .datagrid .panel-body{
    border:1px solid #c3d9e0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
} 

.datagrid-view {
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}
.datagrid-view1,
.datagrid-view2 {
    position: absolute;
    overflow: hidden;
    top: 0;
}
.datagrid-view1 {
    left: 0;
}
.datagrid-view2 {
    right: 0;
}
.datagrid-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: alpha(opacity=30);
    display: none;
}
.datagrid-mask-msg {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    padding: 10px 5px 10px 30px;
    width: auto;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    display: none;
}
.datagrid-sort-icon {
    padding: 0;
}

/*toolbar璁剧疆*/
.datagrid-toolbar {
    height: auto;
    padding:0;
    border:0;
}
.datagrid-toolbar a{
    height:26px;
    line-height:26px;
    text-align:center;
    background-color:#eee!important;
    color:#666;
    margin:0 0 5px 5px;
}
.datagrid-toolbar a:hover{
    background-color:#00a3d9!important;
    color:#fff!important;
}

.datagrid-btn-separator {
    float: left;
    height: 24px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    margin: 2px 1px;
}

/*椤电爜璁剧疆*/
.datagrid .datagrid-pager {
    /*display:block;*/
    margin: 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-radius: 0 0 4px 4px;
}
.datagrid .datagrid-pager-top {
    border-width: 0 0 1px 0;
}

.datagrid-header {
    overflow: hidden;
    cursor: default;
    border-width: 1px 0 1px 0;
    border-style: solid;
}
.datagrid-header-inner {
    float: left;
    width: 10000px;
}
.datagrid-header-row,
.datagrid-row {
    height: 32px;
}
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
    border-width: 0 1px 1px 0;
    border-style: solid;
    margin: 0;
    padding: 0;
}
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
    margin: 0;
    padding: 0 4px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}
.datagrid-header .datagrid-cell {
    height: auto;
}
.datagrid-header .datagrid-cell span {
    font-size: 12px;
}
.datagrid-cell-group {
    text-align: center;
}
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
    width: 35px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.datagrid-body {
    margin: 0;
    padding: 0;
    overflow: auto;
    zoom: 1;
}
.datagrid-view1 .datagrid-body-inner {
    padding-bottom: 20px;
}
.datagrid-view1 .datagrid-body {
    overflow: hidden;
}
.datagrid-footer {
    overflow: hidden;
}
.datagrid-footer-inner {
    border-width: 1px 0 0 0;
    border-style: solid;
    width: 10000px;
    float: left;
}
.datagrid-row-editing .datagrid-cell {
    height: auto;
}
.datagrid-header-check,
.datagrid-cell-check {
    padding: 0;
    width: 27px;
    height: 18px;
    font-size: 1px;
    text-align: center;
    overflow: hidden;
}
.datagrid-header-check input,
.datagrid-cell-check input {
    margin: 0;
    padding: 0;
    width: 15px;
    height: 18px;
}
.datagrid-resize-proxy {
    position: absolute;
    width: 1px;
    height: 10000px;
    top: 0;
    cursor: e-resize;
    display: none;
}
.datagrid-body .datagrid-editable {
    margin: 0;
    padding: 0;
}
.datagrid-body .datagrid-editable table {
    width: 100%;
    height: 100%;
}
.datagrid-body .datagrid-editable td {
    border: 0;
    margin: 0;
    padding: 0;
}
.datagrid-body .datagrid-editable .datagrid-editable-input {
    margin: 0;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
}

.datagrid-header,
.datagrid-td-rownumber {
    background-color: #fafafa;
}
.datagrid-cell-rownumber {
    color: #666;
}
.datagrid-resize-proxy {
    background: #bfbfbf;
}
.datagrid-mask {
    background: #ccc;
}
.datagrid-mask-msg {
    border-color: #D3D3D3;
}
.datagrid-toolbar,
.datagrid-pager {
    background: #fff;
}
.datagrid-header,
.datagrid-toolbar,
.datagrid-pager,
.datagrid-footer-inner {
    border-color: #ddd;
}
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
    border-color: #e5e5e5;
}
/*缂栬緫椤甸潰鍒楄〃*/
.form_list .datagrid-header{
    border-top:0;
}
.datagrid-htable,
.datagrid-btable,
.datagrid-ftable {
    color: #666;
    border-collapse: separate;
}
.datagrid-row-alt {
    background: #fafafa;
}
.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
    background: #e9ebef;
    color: #666;
    cursor: default;
}
.datagrid-row-selected {
    background: #F5F5F5 !important;
    color: #666;
}
.datagrid-body .datagrid-editable .datagrid-editable-input {
    border-color: #D3D3D3;
}
.propertygrid .datagrid-view1 .datagrid-body td {
    padding-bottom: 1px;
    border-width: 0 1px 0 0;
}
.propertygrid .datagrid-group {
    height: 21px;
    overflow: hidden;
    border-width: 0 0 1px 0;
    border-style: solid;
}
.propertygrid .datagrid-group span {
    font-weight: bold;
}
.propertygrid .datagrid-view1 .datagrid-body td {
    border-color: #dedede;
}
.propertygrid .datagrid-view1 .datagrid-group {
    border-color: #daeef5;
}
.propertygrid .datagrid-view2 .datagrid-group {
    border-color: #dedede;
}
.propertygrid .datagrid-group,
.propertygrid .datagrid-view1 .datagrid-body,
.propertygrid .datagrid-view1 .datagrid-row-over,
.propertygrid .datagrid-view1 .datagrid-row-selected {
    background: #daeef5;
}
.pagination {
    zoom: 1;
}
.pagination table {
    float: left;
    height: 30px;
}
.pagination td {
    border: 0;
}
.pagination-btn-separator {
    float: left;
    height: 24px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #fff;
    margin: 3px 1px;
}
.pagination .pagination-num {
    border-width: 1px;
    border-style: solid;
    margin: 0px 6px;
    padding: 0px 6px;
    text-align:center;
    font-size:12px;
    width: auto;
    height: 20px;
}
.pagination-page-list {
    margin: 0px 6px;
    padding: 2px 2px;
    width: auto;
    height: 22px!important;
    border-width: 1px;
    border-style: solid;
}
.pagination-info {
    float: left !important;
    margin: 0 6px 0 0;
    padding: 0;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.pagination span {
    font-size: 12px;
    color:#000;
}
.pagination-page-list,.pagination .pagination-num {
    border-color: #d8d8d8;
    width:50px !important;
    text-align: center;
}
.datagrid-row {height: 32px !important;text-align:center;}


.datagrid-header td {
    vertical-align: middle;
}

.datagrid-header td {
    border-color: #ddd;
    font-weight: 700;
}